In [5]:
# Integer

# Whole Number

a = 10
b = 45

In [7]:
a + b

55

In [8]:
# To dentify the type  of data

type(a)

int

In [13]:
#Float numbers

c = 7.1
d = 8.6
e = 7.0

In [15]:
c + d

15.7

In [16]:
type(e)

float

# LIST

In [ ]:
#List is a Container which can hold different data types in it

In [27]:
lst = ["Sujay", 10, 7186, 126.43, [1,2,3]]

In [28]:
lst

['Sujay', 10, 7186, 126.43, [1, 2, 3]]

In [29]:
lst[0]

'Sujay'

In [30]:
lst[4][2]

3

In [31]:
# List is a complex data type which is 
# derived from LIST Object

# List elements are always stored in orderd sequence of 
#Number starting from  0

# Every Object will have some Methods, 
# lets see List Object's Methods

In [32]:
lst.append("Dhiwar")

In [33]:
lst

['Sujay', 10, 7186, 126.43, [1, 2, 3], 'Dhiwar']

In [34]:
lst.index(10)

1

In [35]:
lst[-1]

'Dhiwar'

In [36]:
lst[-5]

10

In [37]:
lst[1]

10

In [38]:
lst[-2][1]

2

In [48]:
lst = ["Sujay", 10, 7186, 126.43, [1,2,3]]

In [49]:
lst.clear()

In [51]:
lst.copy()

['Sujay', 10, 7186, 126.43, [1, 2, 3]]

In [64]:
lst = ["Sujay", 10, 7186, 10, 126.43, 10, [1,2,3]]

In [56]:
x = lst.count()

TypeError: count() takes exactly one argument (0 given)

In [65]:
x = lst.count(10)

In [66]:
print(x)

3

In [67]:
a = ["Sujay", 10, 7186, 126.43, [1,2,3]]
b = [1,11,111,111]

In [68]:
a.extend(b)

In [69]:
print(a)

['Sujay', 10, 7186, 126.43, [1, 2, 3], 1, 11, 111, 111]

In [71]:
lst = ["Sujay", 10, 7186, 126.43, [1,2,3]]
lst.insert(1, "Dhiwar")
print(lst)

['Sujay', 'Dhiwar', 10, 7186, 126.43, [1, 2, 3]]

In [73]:
lst = ["Sujay", 10, 7186, 126.43, [1,2,3]]
lst.pop(3)
print(lst)

['Sujay', 10, 7186, [1, 2, 3]]

In [74]:
lst = ["Sujay", 10, 7186, 126.43, [1,2,3]]
lst.remove("Sujay")
print(lst)

[10, 7186, 126.43, [1, 2, 3]]

In [75]:
lst = ["Sujay", 10, 7186, 126.43, [1,2,3]]
lst.reverse()
print(lst)

[[1, 2, 3], 126.43, 7186, 10, 'Sujay']

In [76]:
lst = ['Sujay', 'Shridhar', 'Satnam', 'Anand', 'Suraj']
lst.sort()
print(lst)

['Anand', 'Satnam', 'Shridhar', 'Sujay', 'Suraj']

# DICT

In [77]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
dit.clear()
print(dit)

{}

In [78]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
dit.copy()
print(dit)

{'name': 'Sujay', 'gender': 'Male', 'age': 24}

In [81]:
x = ('a','b','c')
y = (1,2,3)
z = dit.fromkeys(x,y)
print(z)

{'a': (1, 2, 3), 'b': (1, 2, 3), 'c': (1, 2, 3)}

In [82]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
x = dit.get("age")
print(x)

24

In [83]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
x = dit.items()
print(x)

dict_items([('name', 'Sujay'), ('gender', 'Male'), ('age', 24)])

In [84]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
x = dit.keys()
print(x)

dict_keys(['name', 'gender', 'age'])

In [86]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
x = dit.pop("gender")
print(x)

Male

In [87]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
x = dit.popitem()
print(x)

('age', 24)

In [88]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
x = dit.setdefault("name","Sujay Dhiwar")
print(x)

Sujay

In [92]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
dit.update({"hand":"Right"})
print(dit)

{'name': 'Sujay', 'gender': 'Male', 'age': 24, 'hand': 'Right'}

In [93]:
dit = {
  "name": "Sujay",
  "gender": "Male",
  "age": 24
}
x = dit.values()
print(x)

dict_values(['Sujay', 'Male', 24])

# Set

In [95]:
s = {"Sujay","letsupgrade", 1,2,3,3,4,4,4,5}
s.add("AISSMS")
print(s)

{1, 2, 3, 4, 5, 'letsupgrade', 'AISSMS', 'Sujay'}

In [96]:
s = {"Sujay","letsupgrade", 1,2,3,3,4,4,4,5}
s.clear()
print(s)

set()

In [98]:
s = {"Sujay","letsupgrade", 1,2,3,3,4,4,4,5}
x = s.copy()
print(x)

{1, 2, 3, 4, 5, 'letsupgrade', 'Sujay'}

In [99]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [100]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

In [103]:
s = {"Sujay","letsupgrade", 1,2,3,3,4,4,4,5}
s.discard("letsupgrade")
print(s)

{1, 2, 3, 4, 5, 'Sujay'}

In [104]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [106]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [108]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [109]:
x = {"a", "b", "c"}
y = {"a", "b", "c","d","e"}
z = x.issubset(y)
print(z)

True

In [110]:
s = {"Sujay","letsupgrade", 1,2,3,3,4,4,4,5}
s.pop()
print(s)

{2, 3, 4, 5, 'letsupgrade', 'Sujay'}

In [111]:
s = {"Sujay","letsupgrade", 1,2,3,3,4,4,4,5}
s.remove("Sujay")
print(s)

{1, 2, 3, 4, 5, 'letsupgrade'}

In [112]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

In [113]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}

In [114]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y) 

print(x)

{'cherry', 'apple', 'google', 'microsoft', 'banana'}

# Tuple

In [122]:
s = (1,2,3,3,4,4,4,5)
x = s.count(4)
print(x)

3

In [123]:
s = (1,2,3,3,4,4,4,5)
x = s.index(4)
print(x)

4

# String

In [124]:
a = "hello, and welcome to my world."

x = a.capitalize()

print (x)

Hello, and welcome to my world.

In [125]:
a = "Hello, And Welcome To My World!"

x = a.casefold()

print(x)

hello, and welcome to my world!

In [126]:
a = "apple"

x = a.center(10)

print(x)

  apple

In [127]:
a = "I love apples, apple are my favorite fruit"

x = a.count("apple")

print(x)

2

In [128]:
a = "My name is Sujay"

x = a.encode()

print(x)

b'My name is Sujay'